.venv/  
env/  
__pycache__ 
*.pyc
*.bin
*.gz
data/
.env

# models
notebooks/Modelling/model_result/bert_best.pt.zip 
notebooks/Modelling/model_result/distilbert_best.pt
notebooks/Modelling/model_result/bert_best.pt
notebooks/Modelling/model_result/bert_ner.zip